

<div id="about " class="container-fluid  d-flex justify-content-center align-items-center  text-center p-5">
 <div class=" layer2   h-75 p-5">
        <h1 class="text-white">ABOUT</h1>
<div class="d-flex justify-content-center">
    <div class="line pl-3"></div>
    <i class="fas fa-star pl-3 "></i>
    <div class="line pl-3"></div>

</div>

    <div class="paragraphs">
      <p class="w-50   float-start text-white">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
      <p class="w-50   float-start text-white ">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
    </div>
   </div>
</div>
