<section id="contact" class="d-flex justify-content-center align-items-center ">
    <div class=" containr-fluid  w-75">
         <div class="row ">
            <h1 class="text-center">CONTACT ME</h1>
         </div>
        <div class=" d-flex justify-content-center ">
           <div class="line pl-3 "></div>
           <i class=" fas fa-star pl-3 "></i>
           <div class="  line pl-3"></div>
        </div>
        <form action="" class="w-50 m-auto">
            <div class=" buttons ">
                
                <input type="text" placeholder="Name" class=" form-control  w-100 ">       
            <br>
            <br>
            <input type="text" placeholder="Email Address" class="form-control w-100">
            <br>
            <input type="text " placeholder="phoneNumber" class="form-control w-100">
            <br>
            <textarea cols="5" rows="5" type="text" placeholder="Message" class="form-control"> </textarea>
            </div>
           <button type="submit" class="btn"> Send</button>
        </form>   
    </div> 
        
    
</section>
<div class="container-fluid"> 
 <div class="row contact2">
     <div class="container w-75 d-flex ">
        <div class="col-lg-4">
            <p class="text-light text-center">LOCATION</p>
        </div>
         <div class="col-lg-4">
           <p class="text-light text-center">AROUND THE WEB</p>
            
         </div>
         <div class="col-lg-4">
             <p class="text-light text-center">ABOUT FREELANCER</p>
         </div>
    
     </div>
  </div>
  <div class="row contact3 ">
     <div class="container    w-75  d-flex  ">
        <div class="col-lg-4 ">
            <p class="text-light"> 2215 John Daniel Drive Clark, MO 65243</p>
        </div>
         <div class="col-lg-3  offset-1 pt-3">
            <div class="icons ">
                <i class="text-light fab fa-facebook-f"></i>
                <i class="text-light fab fa-twitter"></i>
                <i class="fab fa-instagram text-light"></i>
                <i class="fab fa-whatsapp text-light"></i>
            </div>
         </div>
         <div class=" offset-1 col-lg-3 ">
             <p class="text-light">Freelance is a free to use, MIT licensed Bootstrap theme created by .</p>
         </div>
    
     </div>
    </div>
</div>