
.container-fluid
{
    background-color: #1abc9c ;
    height: 850px;
    text-align: center;

}
.container-fluid img
{
    width: 60%;

}
 
h1
{font-size: 60px;
color: white;
font-weight: bold;
margin-bottom: 30px;
}
p
{font-size: 24px;
    color: white;


}